
.office-sharepoint-container {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--maarch-color-primary);
  text-align: center;
  color: white;
}
