.Arial {
    font-family: Arial, sans-serif;
}

.Verdana {
    font-family: Verdana, sans-serif;
}

.Helvetica {
    font-family: Helvetica, sans-serif;
}

.Tahoma {
    font-family: Tahoma, sans-serif;
}

.Times_New_Roman {
    font-family: 'Times New Roman', serif;
}

.Courier_New {
    font-family: 'Courier New', monospace;
}