
.mat-list-item[draggable="false"]:hover{
    background: inherit;
}

.mat-list-item[draggable="false"]{
    cursor: not-allowed !important;
}

.mat-list-item[draggable="true"]{
    cursor: pointer;
}

.mat-list-item[draggable="true"] mat-icon{
    cursor: move;
}

.primaryColor {
    color: var(--maarch-color-primary);
}

.redColor {
    color: #e4342b;
}
