<mat-sidenav-container autosize class="maarch-container">
    <ng-template #adminMenuTemplate>
    </ng-template>
    <mat-sidenav-content>
        <div class="bg-head">
            <div class="bg-head-title" [class.customContainerRight]="appService.getViewMode()">
                <div class="bg-head-title-label">
                    <app-header-left></app-header-left>
                </div>
                <div class="bg-head-title-tool">
                    <app-header-right></app-header-right>
                </div>
            </div>
            <div class="bg-head-content" [class.fullContainer]="appService.getViewMode()">
            </div>
        </div>
        <div class="container" [class.fullContainer]="appService.getViewMode()">
            <div class="container-content">
                <div *ngIf="loading" style="display:flex;height:100%;">
                    <mat-spinner style="margin:auto;"></mat-spinner>
                </div>
                <mat-card *ngIf="!loading" class="card-app-content">
                    <app-maarch-message [content]="'lang.organizationEmailSignaturesDesc' | translate: {url : docUrl}"></app-maarch-message>
                    <app-mail-signatures-administration mode="public"></app-mail-signatures-administration>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>