
.active,
.active:hover,
.active:active,
.active:focus {
    color: var(--maarch-color-primary);
    border-left: solid 5px var(--maarch-color-primary);
    background: var(--maarch-color-primary-opacity-10);
}

.table-tools {
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    grid-gap: 10px;
    align-items: center;
}

.hasCorrespondent {
    color: var(--maarch-color-primary);
    font-weight: bold;
}

.noCorrespondent {
    opacity: 0.5;
}

.header-item {
    ::ng-deep.mat-sort-header-content {
        text-align: left !important;
    }
}

.selected {
    background: var(--maarch-color-primary-opacity-10);
}

.action-button {
    box-shadow: none;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 20px;
}