.updateInProgress {
    z-index: 2;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffffed;
    justify-content: center;
    align-items: center;
}

.alert-message-danger {
    width: 100%;
    max-width: 100%;
}