<button *ngIf="!contextMode" mat-stroked-button [matMenuTriggerFor]="menu">{{'lang.actionsAlt' | translate}}<mat-icon matSuffix
        class="fa fa-caret-down"></mat-icon>
</button>
<span *ngIf="contextMode" [matMenuTriggerFor]="menu" #menu2 style="position: fixed;"
    [style.left]="contextMenuPosition.x" [style.top]="contextMenuPosition.y"></span>

<mat-menu #menu="matMenu" [class]="'actionListMenu'">
    <div *ngIf="contextMode && this.selectedRes.length == 1"
        style="text-align: center;font-size: 10px;color: white;background: #135F7F;padding: 5px;font-weight: bold;">
        {{this.contextMenuTitle}}
    </div>
    <button *ngIf="selectedRes.length == 1" mat-menu-item [matMenuTriggerFor]="baskets" (menuOpened)="getBaskets()">
        <span>{{'lang.goToBasket' | translate}}</span>
    </button>
    <mat-menu #baskets="matMenu" [class]="'folderListMenu'">
        <ng-container *ngFor="let group of basketList.groups | sortBy : 'groupName'">
            <div class="basketGroupName">{{group.groupName}}</div>
            <ng-container *ngFor="let basket of basketList.list | sortBy : 'basketName'">
                <button mat-menu-item *ngIf="basket.groupId === group.groupId" class="labelBasket" (click)="goTo(basket)"
                    title="{{basket.basketName}}">{{basket.basketName}}
                </button>
            </ng-container>
        </ng-container>
        <div class="noAvailableBasket" *ngIf="basketList.groups.length == 0">
            {{'lang.mailNotPresentInBasket' | translate}}
        </div>
    </mat-menu>
    <mat-divider></mat-divider>
    <button mat-menu-item class="followAction" (click)="unFollow()" [disabled]="selectedRes.length === 0">
        <mat-icon class="far fa-star fa-2x"></mat-icon>
        <span>{{'lang.untrackThisMail' | translate}}</span>
    </button>
    <mat-divider></mat-divider>
    <button *ngIf="privilegeService.hasCurrentUserPrivilege('freeze_retention_rule')" mat-menu-item [matMenuTriggerFor]="freezeRentalRule" [disabled]="selectedRes.length === 0"
            [title]="'lang.freezeRetentionRule' | translate ">
        <mat-icon class="freezeIcon fas fa-snowflake" style="font-size: 20px;"></mat-icon>
        <span>{{ 'lang.freezeRetentionRule' | translate }}</span>
    </button>
    <mat-menu  #freezeRentalRule = "matMenu" ng-switch="getValue(var)">
        <button mat-menu-item (click)="toggleFreezing(true)" class="{{this.isSelectedFreeze === true ? 'isSelectedMenu' : 'notSelectedMenu'}}"
                [title]="'lang.freezeTheCurrentUsefulLife' | translate " >
            {{ 'lang.freezeTheCurrentUsefulLife' | translate }}
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="toggleFreezing(false)" class="{{this.isSelectedFreeze === false ? 'isSelectedMenu' : 'notSelectedMenu'}}"
                [title]="'lang.unfreezeTheCurrentUsefulLife' | translate" >
            {{ 'lang.unfreezeTheCurrentUsefulLife' | translate }}
        </button>
    </mat-menu>
    <button *ngIf="privilegeService.hasCurrentUserPrivilege('set_binding_document')" mat-menu-item [matMenuTriggerFor]="bindingRentalRule" [disabled]="selectedRes.length === 0"
        [title]="'lang.setBindingDocument' | translate ">
        <mat-icon class="bindidngIcon fas fa-exclamation" style="font-size: 20px;"></mat-icon>
        <span>{{ 'lang.setBindingDocument' | translate }}</span>
    </button>
    <mat-menu #bindingRentalRule="matMenu">
        <buton mat-menu-item (click)="toogleBinding(true)" class="{{this.isSelectedBinding === true ? 'isSelectedMenu' : 'notSelectedMenu'}}"
        [title]="'lang.bindingMail' | translate | stripTags" [innerHTML]="'lang.bindingMail' | translate"></buton>
        <mat-divider></mat-divider>
        <buton mat-menu-item (click)="toogleBinding(false)" class="{{this.isSelectedBinding === false ? 'isSelectedMenu' : 'notSelectedMenu'}}"
        [title]="'lang.noBindingMail' | translate | stripTags" [innerHTML]="'lang.noBindingMail' | translate"></buton>
        <mat-divider></mat-divider>
        <buton mat-menu-item (click)="toogleBinding(null)" class="{{this.isSelectedBinding === null ? 'isSelectedMenu' : 'notSelectedMenu'}}"
        [title]="'lang.doNotDefine' | translate">
            {{ 'lang.doNotDefine' | translate}}</buton>
        <mat-divider></mat-divider>
    </mat-menu>
    <mat-divider></mat-divider>
    <app-folder-menu [resIds]="selectedRes" [currentFolders]="folderList" (refreshList)="refreshList()" (refreshFolders)="refreshFolders()"></app-folder-menu>
</mat-menu>
