
.stepContent {
    // max-width: 850px;
    margin: auto;
    .stepContentTitle {
        color: var(--maarch-color-primary);
        margin-bottom: 30px;
        border-bottom: solid 1px;
        padding: 0;
    }
}

