

.loading {
    display: flex;
    height: 100%;
    width: 100%;
}

.attach-container {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;

    ::ng-deep.mat-tab-body-wrapper,
    ::ng-deep.mat-tab-body-content {
        height: 100% !important;
    }
}

.mat-dialog-title {
    margin: 0px !important;
    display: flex;
    align-items: center;
}

.attach-content {
    margin: 0px;
    padding: 0px !important;
    height: 100%;
    display: flex;
    overflow: auto;

    ::ng-deep.mat-tab-label:last-child {
        min-width: 50px;
        padding: 0;
        opacity: 1;
        color: var(--maarch-color-primary);
    }
}

.attachment-form {
    padding: 10px;
    overflow: auto;
    position: sticky;
    top: 0px;
    &-item {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10px;
        padding-bottom: 10px;

        ::ng-deep.mat-form-field-should-float {
            ::ng-deep.mat-form-field-label-wrapper {
                margin-top: -7px;
            }

            ::ng-deep.mat-form-field-label {
                background: white;
                width: auto !important;
                padding-top: 5px;
                padding-left: 5px;
                padding-right: 5px;
            }
        }
    }
}

.example-loading-shade {
    background: #ffffffc4;
    z-index: 2;
}

.actions {
    margin: 0px;
}

.complete {
    color: green;
    font-weight: bold;
}

.fieldState {
    padding-top: 0px !important;
}

.stateDoc {
    position: absolute;
    right: 20px;
    top: 20px;
}

.documentContent {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--maarch-color-primary);
    overflow: auto;
    color: white;
    height: 100%;
}

.active {
    color: var(--maarch-color-secondary);
}