
.pinnedFolderList {
    .mat-list-item {
        cursor: pointer;
        height: 45px;

        &:hover {
            background: rgba(0, 0, 0, 0.04);
        }
    }

    ::ng-deep.mat-list-text {
        padding-left: 0px !important;
    }

    .pinnedFolderItem {
        font-weight: bold;
        font-size: 12px;
        width: 90%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .folderAction {
        color: rgb(102, 102, 102);
    }

}

.pinnedIcon {
    cursor: pointer;
    color: var(--maarch-color-primary);
    text-align: center;

    i {

        font-size: 13px;
        transition: all 0.3s;
    }

    &:hover {
        color: var(--maarch-color-danger);

        i {
            transition: all 0.3s;
            transform: rotate(45deg) translate(0px, -50%);
        }
    }
}

.countResources {
    color: var(--maarch-color-primary);
    font-weight: bold;
    font-size: 14px;
}

.empty {
    opacity: 0.5;
    font-size: 12px;
    color: rgb(102, 102, 102);
}

button:disabled {
    opacity: 1;
}

.selectedFolder {
    border-left: solid 5px var(--maarch-color-primary);
    background: var(--maarch-color-primary-opacity-10);
}

.public {
    color: var(--maarch-color-secondary);
}

.drag {
    color: var(--maarch-color-secondary) !important;
}

.noPinnedFolder {
    text-align: center;
    font-size: 13px;
    opacity: 0.5;
    font-style: italic;
}

.treeLabel {
    white-space: pre;
    color: rgb(102, 102, 102);
}