
.address-icon {
    position: absolute;
    right: 10px;
    font-size: 14px;
    top: 10px;
}

.map-icon {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    right: 0px;
    font-size: 14px;
    bottom: 0px;
}