<mat-sidenav-container autosize class="maarch-container">
    <ng-template #adminMenuTemplate>
        <mat-nav-list>
            <h3 mat-subheader>{{'lang.actions' | translate}}</h3>
            <a mat-list-item (click)="snav2.open();prepareEntityAdd()" *ngIf="!creationMode">
                <mat-icon color="primary" mat-list-icon class="fa fa-plus"></mat-icon>
                <p mat-line>
                    {{'lang.add' | translate}}
                </p>
            </a>
            <a mat-list-item (click)="openExportModal()">
                <mat-icon color="primary" mat-list-icon class="fas fa-file-export"></mat-icon>
                <p mat-line>
                    {{'lang.toExport' | translate}}
                </p>
            </a>
        </mat-nav-list>
        <mat-divider></mat-divider>
        <mat-nav-list>
            <h3 mat-subheader>{{'lang.additionalRoles' | translate}}</h3>
            <ng-container *ngFor="let role of listTemplateRoles">
                <a mat-list-item disableRipple="true" *ngIf="role.id != 'dest' && role.id != 'cc'">
                    <mat-icon color="primary" mat-list-icon>
                        <mat-slide-toggle [checked]="role.available" color="primary" (click)="toggleRole(role);false">
                        </mat-slide-toggle>
                    </mat-icon>
                    <p mat-line [ngStyle]="{'opacity': role.available ? '' : '0.5'}" (click)="toggleRole(role);false">
                        {{role.label}}
                    </p>
                </a>
            </ng-container>
        </mat-nav-list>
    </ng-template>
    <mat-sidenav-content>
        <div class="bg-head">
            <div class="bg-head-title" [class.customContainerRight]="appService.getViewMode()">
                <div class="bg-head-title-label">
                    <app-header-left></app-header-left>
                </div>
                <div class="bg-head-title-tool">
                    <app-header-right></app-header-right>
                </div>
            </div>
            <div class="bg-head-content" [class.fullContainer]="appService.getViewMode()">
            </div>
        </div>
        <div class="container" [class.fullContainer]="appService.getViewMode()">
            <div class="container-content">
                <div *ngIf="loading" style="display:flex;height:100%;">
                    <mat-spinner style="margin:auto;"></mat-spinner>
                </div>
                <mat-card *ngIf="!loading" class="card-app-content">

                    <mat-form-field>
                        <input matInput id="jstree_search" name="jstree_search" type="text"
                            placeholder="{{'lang.searchEntities' | translate}}">
                        <button mat-button *ngIf="!emptyField" matSuffix mat-icon-button aria-label="Clear"
                            (click)="clearFilter()" [title]="'lang.clearFilter' | translate">
                            <mat-icon class="fas fa-times" style="color:#B3B3B3"></mat-icon>
                        </button>
                        <mat-hint *ngIf="!creationMode">{{'lang.entityTreeInfo' | translate}}</mat-hint>
                        <mat-hint *ngIf="creationMode">{{'lang.entityTreeInfoCreation' | translate}}</mat-hint>
                    </mat-form-field>
                    <div id="jstree"></div>
                    <div class="mat-paginator"
                        style="min-height:48px;display: flex;justify-content: end;align-items: center;padding-right: 20px;">
                        {{entities.length}} {{'lang.entities' | translate}}</div>
                </mat-card>
            </div>
        </div>
    </mat-sidenav-content>

    <mat-sidenav #snav2 [mode]="appService.getViewMode() ? 'over' : 'side'" [fixedInViewport]="appService.getViewMode()"
        fixedTopGap="56" position='end' [opened]="false" class="col-md-5 col-xs-11">
        <mat-nav-list>
            <mat-tab-group>
                <mat-tab
                    [label]="creationMode ? ('lang.createNewEntity' | translate) : ('lang.informations' | translate)">
                    <form class="form-horizontal" #entityForm="ngForm" style="overflow:hidden;">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <mat-select id="parent_entity_id" name="parent_entity_id"
                                        title="{{'lang.isLinkedTo' | translate}}"
                                        placeholder="{{'lang.isLinkedTo' | translate}}"
                                        [(ngModel)]="currentEntity.parent_entity_id"
                                        (selectionChange)="selectParentEntity(currentEntity.parent_entity_id)">
                                        <mat-option value="">
                                            <i style="opacity:0.5;text-align:center;">- {{'lang.noEntity' | translate}}
                                                -</i>
                                        </mat-option>
                                        <ng-container *ngFor="let entity of entities | sortBy : 'entity_label'">
                                            <mat-option [value]="entity.entity_id"
                                                *ngIf="(!entity.state.disabled && entity.entity_id != currentEntity.entity_id) || currentEntity.parent_entity_id == entity.entity_id">
                                                {{entity.entity_label}}
                                            </mat-option>
                                        </ng-container>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field>
                                    <mat-select id="entity_type" name="entity_type"
                                        title="{{'lang.entityType' | translate}}"
                                        placeholder="{{'lang.entityType' | translate}}"
                                        [(ngModel)]="currentEntity.entity_type" maxlength="32" required>
                                        <mat-option *ngFor="let entity_type of entityTypeList" [value]="entity_type.id">
                                            {{entity_type.label}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group" *ngIf="!creationMode">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="currentEntity.id" name="id" id="id"
                                        title="{{'lang.technicalId' | translate}}" type="text"
                                        placeholder="{{'lang.technicalId' | translate}}" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="currentEntity.entity_id" required name="entity_id"
                                        id="entity_id" title="{{'lang.id' | translate}}" type="text"
                                        placeholder="{{'lang.id' | translate}}" [disabled]="!creationMode"
                                        maxlength="32" pattern="^[\w-]*$">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="currentEntity.entity_label" required
                                        name="entity_label" id="entity_label" title="{{'lang.label' | translate}}"
                                        type="text" placeholder="{{'lang.label' | translate}}" maxlength="255">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="currentEntity.short_label" required name="short_label"
                                        id="short_label" title="{{'lang.shortLabel' | translate}}" type="text"
                                        placeholder="{{'lang.shortLabel' | translate}}" maxlength="50">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <mat-form-field>
                                    <input matInput [(ngModel)]="currentEntity.email" name="email" id="email"
                                        title="{{'lang.email' | translate}}" type="text"
                                        placeholder="{{'lang.email' | translate}}" maxlength="255"
                                        pattern="(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-accordion>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'lang.address' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div style="display: flex;align-items: center;">
                                    <div style="flex: 1;">
                                        <mat-form-field appearance='outline' class="smallInput">
                                            <button mat-button matSuffix [matMenuTriggerFor]="menuDep"
                                                (click)="$event.stopPropagation();"
                                                [title]="'lang.targetDepartment' | translate">
                                                {{addressBANCurrentDepartment}}&nbsp;<i class="fa fa-chevron-down"></i>
                                            </button>
                                            <mat-menu #menuDep="matMenu">
                                                <button mat-menu-item *ngFor="let dep of departmentList"
                                                    (click)="addressBANCurrentDepartment = dep">{{dep}}</button>
                                            </mat-menu>
                                            <mat-icon color="primary" class="fa fa-search" matPrefix
                                                style="font-size: 15px;"></mat-icon>
                                            <input type="text" #autoCompleteInput
                                                [placeholder]="'lang.searchAddressBan' | translate" matInput
                                                [formControl]="addressBANControl" [matAutocomplete]="auto"
                                                (click)="$event.stopPropagation()"
                                                (focus)="resetAutocompleteAddressBan()" maxlength="128">
                                            <mat-autocomplete #auto="matAutocomplete"
                                                (optionSelected)="selectAddressBan($event)">
                                                <ng-container *ngIf="addressSectorResult.length > 0 && !addressLoading">
                                                    <mat-label class="title-ban">{{'lang.labelSectors' | translate | uppercase}}</mat-label>
                                                    <mat-option
                                                      *ngFor="let addressSectorResult of addressSectorFilteredResult | async"
                                                      [value]="addressSectorResult" [title]="addressSectorResult.address">
                                                        {{addressSectorResult.address}}
                                                    </mat-option>
                                                </ng-container>
                                                <ng-container *ngIf="addressBANResult.length > 0 && !addressLoading">
                                                    <mat-label class="title-ban">{{'lang.labelBAN' | translate | uppercase}}</mat-label>
                                                    <mat-option
                                                        *ngFor="let addressBANResult of addressBANFilteredResult | async"
                                                        [value]="addressBANResult">
                                                        {{addressBANResult.address}}
                                                    </mat-option>
                                                </ng-container>
                                                <mat-option class="autoCompleteInfoResult smallInputInfo"
                                                    *ngIf="addressBANResult.length === 0 && !addressLoading" disabled
                                                    [innerHTML]="addressBANInfo">
                                                </mat-option>
                                                <mat-option *ngIf="addressLoading" disabled>
                                                    <mat-spinner diameter="20"></mat-spinner>
                                                </mat-option>
                                            </mat-autocomplete>
                                        </mat-form-field>
                                    </div>
                                    <div *ngIf="!creationMode">
                                        <button [title]="'lang.copyRootEntityAddress' | translate" mat-icon-button
                                            color="primary" (click)="copyAddress()">
                                            <mat-icon class="fa fa-copy"></mat-icon>
                                        </button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressAdditional1"
                                                name="addressAdditional1" id="addressAdditional1"
                                                [title]="currentEntity.addressAdditional1" type="text"
                                                placeholder="{{'lang.contactsParameters_addressAdditional1' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressNumber"
                                                name="addressNumber" id="addressNumber"
                                                [title]="currentEntity.addressNumber" type="text"
                                                placeholder="{{'lang.contactsParameters_addressNumber' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressStreet"
                                                name="addressStreet" id="addressStreet"
                                                [title]="currentEntity.addressStreet" type="text"
                                                placeholder="{{'lang.contactsParameters_addressStreet' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressAdditional2"
                                                name="addressAdditional2" id="addressAdditional2"
                                                [title]="currentEntity.addressAdditional2" type="text"
                                                placeholder="{{'lang.contactsParameters_addressAdditional2' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressPostcode"
                                                name="addressPostcode" id="addressPostcode"
                                                [title]="currentEntity.addressPostcode" type="text"
                                                placeholder="{{'lang.contactsParameters_addressPostcode' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressTown" name="addressTown"
                                                id="addressTown" [title]="currentEntity.addressTown" type="text"
                                                placeholder="{{'lang.contactsParameters_addressTown' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.addressCountry"
                                                name="addressCountry" id="addressCountry"
                                                [title]="currentEntity.addressCountry" type="text"
                                                placeholder="{{'lang.contactsParameters_addressCountry' | translate}}"
                                                maxlength="255">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{'lang.otherInformations' | translate}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <app-input-correspondent-group #appInputCorrespondentGroup
                                        [id]="currentEntity.id" [type]="'entity'"></app-input-correspondent-group>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <textarea matInput [(ngModel)]="currentEntity.entity_full_name"
                                                name="entity_full_name" id="entity_full_name"
                                                placeholder="{{'lang.entityFullName' | translate}}"
                                                title="{{'lang.entityFullName' | translate}}" cdkTextareaAutosize
                                                matAutosizeMinRows="1" matAutosizeMaxRows="5"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="!creationMode">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input *ngIf="!currentEntity.canSynchronizeSiret" matInput
                                                value="Paramètre SIRET manquant"
                                                title="{{'lang.siretCode' | translate}}" type="text"
                                                placeholder="{{'lang.siretCode' | translate}}" maxlength="255" disabled>
                                            <input *ngIf="currentEntity.canSynchronizeSiret" matInput
                                                [(ngModel)]="currentEntity.business_id" name="business_id"
                                                id="business_id" title="{{'lang.siretCode' | translate}}" type="text"
                                                placeholder="{{'lang.siretCode' | translate}}" maxlength="255" disabled>
                                            <button *ngIf="currentEntity.canSynchronizeSiret" color="primary"
                                                mat-icon-button matSuffix title="Générer un numéro SIRET"
                                                (click)="addEntityToAnnuary()">
                                                <mat-icon class="fas fa-compress-arrows-alt"></mat-icon>
                                            </button>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.producerService"
                                                name="producerService" id="producerService"
                                                title="{{'lang.producerService' | translate}}" type="text"
                                                placeholder="{{'lang.producerService' | translate}}" maxlength="255"
                                                pattern="^[\w-]*$">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="form-group" *ngIf="authService?.externalSignatoryBook?.id === 'fastParapheur'">
                                    <div class="col-sm-12">
                                        <mat-form-field>
                                            <input matInput [(ngModel)]="currentEntity.fastParapheurSubscriberId"
                                                name="fastParapheurSubscriberId" id="fastParapheurSubscriberId"
                                                title="{{'lang.fastParapheurSubscriberId' | translate}}" type="text"
                                                placeholder="{{'lang.fastParapheurSubscriberId' | translate}}" maxlength="255"
                                                pattern="^[\w-]*$">
                                        </mat-form-field>
                                    </div>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="form-group">
                            <div class="col-md-12 text-center" style="padding:10px;">
                                <button mat-raised-button [disabled]="!entityForm.form.valid" color="primary"
                                    (click)="saveEntity()">{{'lang.save' | translate}}</button>
                                <button mat-raised-button *ngIf="!creationMode"
                                    [disabled]="!entityForm.form.valid || this.currentEntity.hasChildren" color="warn"
                                    (click)="removeEntity()">{{'lang.delete' | translate}}</button>
                                <button mat-raised-button *ngIf="creationMode" color="default"
                                    (click)="readMode()">{{'lang.cancel' | translate}}</button>
                            </div>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="{{'lang.diffusionList' | translate}}" *ngIf="!creationMode">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-12">
                            <app-diffusions-list #appDiffusionsList [adminMode]="true" [target]="'redirect'">
                            </app-diffusions-list>
                        </div>
                        <div class="form-group" *ngIf="currentEntity.entity_id">
                            <div class="col-md-12 text-center" style="padding:10px;">
                                <button mat-raised-button color="primary" (click)="saveDiffList()"
                                    [disabled]="appDiffusionsList.hasEmptyDest() || !appDiffusionsList.isModified()">{{'lang.save' | translate}}</button>
                                <button mat-raised-button color="default"
                                    (click)="appDiffusionsList.loadListModel(currentEntity.id)"
                                    [disabled]="!appDiffusionsList.isModified()">{{'lang.cancel' | translate}}</button>
                                <button *ngIf="!appDiffusionsList.isEmptyList() && currentEntity.listTemplate.id"
                                    mat-raised-button color="warn"
                                    (click)="deleteDiffList()">{{'lang.delete' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'lang.visaWorkflow' | translate}}" *ngIf="!creationMode">
                    <div class="row" style="margin:0px;" id="visaCircuitContent">
                        <div class="col-md-12">
                            <app-visa-workflow [adminMode]="true" [showListModels]="false" [showComment]="false"
                                #appVisaWorkflow></app-visa-workflow>
                        </div>
                        <div class="form-group" *ngIf="currentEntity.entity_id">
                            <div class="col-md-12 text-center" style="padding:10px;">
                                <button mat-raised-button color="primary" (click)="saveDiffListVisa()"
                                    [disabled]="!appVisaWorkflow.isModified()">{{'lang.save' | translate}}</button>
                                <button mat-raised-button color="default"
                                    (click)="appVisaWorkflow.loadListModel(currentEntity.id)"
                                    [disabled]="!appVisaWorkflow.isModified()">{{'lang.cancel' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'lang.avis' | translate}}" *ngIf="!creationMode">
                    <div class="row" style="margin:0px;" id="opinionCircuitContent">
                        <div class="col-md-12">
                            <app-avis-workflow [adminMode]="true" [showListModels]="false" #appAvisWorkflow>
                            </app-avis-workflow>
                        </div>
                        <div class="form-group" *ngIf="currentEntity.entity_id">
                            <div class="col-md-12 text-center" style="padding:10px;">
                                <button mat-raised-button color="primary" (click)="saveDiffListOpinion()"
                                    [disabled]="!appAvisWorkflow.isModified()">{{'lang.save' | translate}}</button>
                                <button mat-raised-button color="default"
                                    (click)="appAvisWorkflow.loadListModel(currentEntity.id)"
                                    [disabled]="!appAvisWorkflow.isModified()">{{'lang.cancel' | translate}}</button>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="{{'lang.users' | translate}}" *ngIf="!creationMode">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-12" *ngIf="currentEntity.canAdminUsers" style="padding:5px;">
                            <app-plugin-autocomplete [labelPlaceholder]="'lang.linkUser' | translate"
                                [routeDatas]="['/rest/autocomplete/users/administration']"
                                [targetSearchKey]="'idToDisplay'" [subInfoKey]="'descriptionToDisplay'"
                                (triggerEvent)="linkUser($event)"></app-plugin-autocomplete>
                            <hr />
                        </div>
                        <div class="col-md-4 col-xs-4">
                            <mat-form-field>
                                <input matInput #filterUser (keyup)="applyFilterUsers($event.target.value)"
                                    placeholder="{{'lang.filterBy' | translate}}">
                                <button mat-button *ngIf="filterUser.value" matSuffix mat-icon-button aria-label="Clear"
                                    (click)="applyFilterUsers(''); filterUser.value = ''"
                                    [title]="'lang.clearFilter' | translate">
                                    <mat-icon class="fas fa-times" style="color:#B3B3B3"></mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <div class="table-head table-head-tool">
                                <span style="position: relative;">
                                    <mat-paginator #paginatorUsers [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100, 150]"></mat-paginator>
                                    <app-select-page [paginator]="paginatorUsers"></app-select-page>
                                </span>
                            </div>
                        </div>
                    </div>
                    <mat-table #tableUsers="matSort" [dataSource]="dataSourceUsers" matSort matSortActive="lastname"
                        matSortDirection="asc">
                        <ng-container matColumnDef="firstname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'lang.firstname' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.firstname}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="lastname">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>{{'lang.lastname' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.lastname}} </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsUsers"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsUsers;"
                            routerLink="/administration/users/{{row.id}}" matTooltip="{{'lang.view' | translate}}"
                            style="cursor:pointer;"></mat-row>
                    </mat-table>
                </mat-tab>
                <mat-tab label="{{'lang.templates' | translate}}" *ngIf="!creationMode">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-4 col-xs-4">
                            <mat-form-field>
                                <input matInput #filterTemplate (keyup)="applyFilterTemplates($event.target.value)"
                                    placeholder="{{'lang.filterBy' | translate}}">
                                <button mat-button *ngIf="filterTemplate.value" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="applyFilterTemplates(''); filterTemplate.value = ''"
                                    [title]="'lang.clearFilter' | translate">
                                    <mat-icon class="fas fa-times" style="color:#B3B3B3"></mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <div class="table-head table-head-tool">
                                <span style="position: relative;">
                                    <mat-paginator #paginatorTemplates [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100, 150]"></mat-paginator>
                                    <app-select-page [paginator]="paginatorTemplates"></app-select-page>
                                </span>
                            </div>
                        </div>
                    </div>
                    <mat-table #tableTemplates="matSort" [dataSource]="dataSourceTemplates" matSort
                        matSortActive="template_label" matSortDirection="asc">
                        <ng-container matColumnDef="template_label">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:2;">
                                {{'lang.templateName' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="flex:2;"
                                matTooltip="{{element.template_comment}}"> {{element.template_label}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="template_target">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:1;">
                                {{'lang.templateTarget' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="flex:1;">
                                {{'lang.' + element.template_target | translate}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsTemplates"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsTemplates;"
                            (click)="showTemplate(row.template_id);"
                            [ngStyle]="{'cursor': !currentEntity.canAdminTemplates ? 'position' : 'pointer'}"></mat-row>
                    </mat-table>
                </mat-tab>
                <!--  -->
                <mat-tab label="{{'lang.indexingModels' | translate}}" *ngIf="!creationMode">
                    <div class="row" style="margin:0px;">
                        <div class="col-md-4 col-xs-4">
                            <mat-form-field>
                                <input matInput #filterIndexingModels (keyup)="applyFilterIndexingModels($event.target.value)"
                                    placeholder="{{'lang.filterBy' | translate}}">
                                <button mat-button *ngIf="filterIndexingModels.value" matSuffix mat-icon-button
                                    aria-label="Clear" (click)="applyFilterIndexingModels(''); filterIndexingModels.value = ''"
                                    [title]="'lang.clearFilter' | translate">
                                    <mat-icon class="fas fa-times" style="color:#B3B3B3"></mat-icon>
                                </button>
                            </mat-form-field>
                        </div>
                        <div class="col-md-8 col-xs-8">
                            <div class="table-head table-head-tool">
                                <span style="position: relative;">
                                    <mat-paginator #paginatorIndexingModels [length]="100" [pageSize]="10" [pageSizeOptions]="[10, 25, 50, 100, 150]"></mat-paginator>
                                    <app-select-page [paginator]="paginatorIndexingModels"></app-select-page>
                                </span>
                            </div>
                        </div>
                    </div>
                    <mat-table #tableIndexingModels="matSort" [dataSource]="dataSourceIndexingModels" matSort
                        matSortActive="indexingModelLabel" matSortDirection="asc">
                        <ng-container matColumnDef="indexingModelLabel">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:2;">
                                {{'lang.modelName' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="flex:2;"
                                matTooltip="{{element.template_comment}}"> {{element.indexingModelLabel}} </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="indexingModelCategory">
                            <mat-header-cell *matHeaderCellDef mat-sort-header style="flex:1;">
                                {{'lang.categoryId' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element" style="flex:1;">
                                {{'lang.' + element.indexingModelCategory | translate}}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumnsIndexingModels"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsIndexingModels;"
                            (click)="showIndexingModel(row.indexingModelId);"
                            [ngStyle]="{'cursor': !currentEntity.canAdminIndexingModels ? 'position' : 'pointer'}"></mat-row>
                    </mat-table>
                </mat-tab>
                <!--  -->
            </mat-tab-group>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
