
.doc-container {
    // background: var(--maarch-color-primary);
    height: 100%;
    min-height: 100% !important;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    overflow-x: hidden;
    position: absolute;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.documentViewer {
    display:block;
    overflow: auto;
    height:100%;
    width:100%;
}