
.avatarAccount {
    border: solid 3px #135F7F;
    height: 45px !important;
    width: 45px !important;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}