
.loader {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.hide {
    display: none;
}

.import-tool {
    font-size: 14px;
}

.dndFile {
    height: 100%;
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    font-size: 30px;
    opacity: 0.5 !important;
    cursor: pointer;
}

.colLabel {
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableContent {
    width: 100%;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    padding: 10px;
}