
.active,
.active:hover,
.active:active,
.active:focus {
    color: var(--maarch-color-primary);
    border-left: solid 5px var(--maarch-color-primary);
    background: var(--maarch-color-primary-opacity-10);
}


.paginatorResultList {
    ::ng-deep.mat-paginator-range-label {
        justify-content: flex-end;
        display: flex;
    }
}

.filterList {
    ::ng-deep.mat-optgroup-label {
        color: var(--maarch-color-primary);
        position: sticky;
        top: 0px;
        background: white !important;
        z-index: 1;
    }
}

.label {
    cursor: pointer;
    margin: 5px;
}

.bg-head-content {
    ::ng-deep .mat-focused .mat-form-field-label {
        /*change color of label*/
        color: white !important;
    }

    ::ng-deep.mat-form-field-underline {
        /*change color of underline*/
        background-color: white !important;
    }

    ::ng-deep.mat-form-field-ripple {
        /*change color of underline when focused*/
        background-color: white !important;
    }

    .mat-icon,.mat-datepicker-toggle {
        color:white;
    }
}