
.smallInputInfo {
    font-size: 9px;
    white-space: normal;
    line-height: 13px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.mat-chip.mat-standard-chip {
    color: white;
    background-color: var(--maarch-color-primary-light);
}

.noResult {
    text-align: center;
    font-style: italic;
    opacity: 0.5;
}

.itemChip {
    display: block;
    width: 95%;

    ::ng-deep.mat-chip-list-wrapper {
        margin: 0px;
    }
}

.itemList {
    padding-top: 10px;
    overflow-x: hidden;
    max-height: 165px;
}

.listAutocomplete {
    height: auto;
}
