<div class="mat-dialog-content-container">
    <h1 mat-dialog-title>{{'lang.contacts' | translate}}</h1>
    <div mat-dialog-content style="margin: 5px;">
        <div *ngIf="loading" class="loading" style="display:flex;height:100%;">
            <mat-spinner style="margin:auto;"></mat-spinner>
        </div>
        <ng-container *ngIf="!loading">
            <ng-container *ngFor="let contact of contactResult">
                <div *ngIf="!loading" class="row rowData">
                    <div class="col-md-4">
                        <b>{{contactService.formatContact(contact)}}</b>
                    </div>
                    <div class="col-md-6" style="margin-left: auto;">
                        <span *ngIf="!functions.empty(formatContactAdress(contact))">
                            {{formatContactAdress(contact)}}
                        </span>
                        <span *ngIf="functions.empty(formatContactAdress(contact))" style="color: gray; font-style: italic;">
                            {{'lang.emptyAddress' | translate}}
                        </span>
                    </div>
                    <div class="col-md-2" style="margin-left: auto;">
                        <mat-icon class="fas fa-id-card" color="primary" (click)="selectContact(contact.id)"
                        style="font-size: 20px; cursor: pointer;" [title]="!data.fromAdministration ? ('lang.associateContactToDoc' | translate) : ('lang.setContactInfos' | translate)">
                    </mat-icon>
                    </div>
                </div>
                <span class="divider-modal"></span>
            </ng-container>
        </ng-container>
    </div>
    <span class="divider-modal"></span>
    <div mat-dialog-actions class="actions">
        <button mat-raised-button mat-button [disabled]="loading" [mat-dialog-close]="">{{'lang.cancel' | translate}}</button>
    </div>
</div>