
.alert-message {
    margin: 20px 0;
    padding: 10px;
    max-width: 450px;
    border-left: 3px solid #eee;

    p {
        padding: 0;
    }

    &-success {
        background-color: #F4FDF0;
        border-color: var(--maarch-color-success);
        color: var(--maarch-color-success-dark);
    }

    &-danger {
        background-color: #8e3e521a;
        border-color: var(--maarch-color-danger);
        color: var(--maarch-color-danger-dark);
    }

    &-info {
        background-color: #f4f8fa;
        border-color: var(--maarch-color-primary);
        color: var(--maarch-color-primary-dark);
    }

    &-default {
        background-color: #EEE;
        border-color: #B4B4B4;
    }
}