<div appUploadFileDragDrop (fileDropped)="dndUploadFile($event)"
    style="height: 100%;display: flex;flex-direction: column;">
    <div
        style="position: sticky;top: 0px;background:white;z-index: 1;display:flex;justify-content: center;align-items: center;color: #666;padding: 10px;">
        <span>{{'lang.attachments' | translate}}</span>
    </div>
    <ng-container *ngIf="attachments.length > 0; else elseTemplate">
        <div style="display: flex;padding-left: 10px;padding-right: 10px;">
            <button mat-raised-button color="primary" style="flex: 1;border-radius: 20px;" (click)="docToUpload.click()">
                {{'lang.add' | translate}}
            </button>
            <button [disabled]="attachments.length === 0" mat-icon-button [title]="'lang.deleteAll' | translate"
                color="warn" (click)="deleteAttachment()" style="font-size: 20px;">
                <mat-icon class="fas fa-trash-alt">
                </mat-icon>
            </button>
        </div>
        <div *ngFor="let attachment of attachments;let i=index" class="attachment-content">
            <mat-icon matRipple class="fa fa-times-circle close-button" [title]="'lang.delete' | translate" color="warn"
                (click)="deleteAttachment(i)">
            </mat-icon>
            <div class="attachment-name" [title]="attachment.file.name">
                <i class="fa fa-paperclip"></i> {{attachment.file.name}}
            </div>
            <app-plugin-select-search [class]="''" appearance="outline" [label]="'lang.type' | translate"
                [formControlSelect]="attachment['type']" [datas]="attachmentsTypes" style="width:100%;" showLabel="true"
                required="true">
            </app-plugin-select-search>
            <mat-form-field appearance="outline">
                <mat-label>{{'lang.subject' | translate}} *</mat-label>
                <input matInput [formControl]="attachment['subject']" maxlength="255">
            </mat-form-field>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="add-area" (click)="docToUpload.click()" [title]="'lang.add' | translate">
            <mat-icon class="fa fa-plus" color="primary" style="font-size: 60px;height: auto;width: auto;">
            </mat-icon>
        </div>
    </ng-template>
    <input type="file" #docToUpload name="files[]" (change)="uploadTrigger($event)" style="display:none;" multiple>
</div>