

.admin-contact {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90vw;
}

.mat-sidenav-container {
    height: 100%;
}

.documentViewer {
    height:100%;
    width:100%;
    position: absolute;
}