.mat-icon {
    height: auto;
}
.mat-mini-fab {
    background: white;
    border: solid 1px rgb(34,139,10);
    color: rgb(34,139,10);
    box-shadow: none;
    margin-left: 5px;
    margin-right: 5px;
}

.mat-mini-fab:disabled {
    border: solid 1px white;
}